.switch {
    --bball_size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 2rem;
    pointer-events: none;
}

.prev,
.next {
    height: 2rem;
    width: 2rem;
    padding: 1rem;
    transition: transform 0.3s ease-out;
    box-sizing: content-box;
    pointer-events: all;
}

.prev:hover,
.next:hover {
    transform: scale(1.3);
}

.prev img {
    transform: rotate(180deg);
}

.bball {
    height: var(--bball_size);
    width: var(--bball_size);
    border-radius: 50%;
    transition: transform 0.3s ease-out;
    transform: rotate(0);
    pointer-events: all;
}

.switch:hover .bball {
    transform: rotate(40deg);
}
